/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
}


html {
    scroll-behavior: smooth;
}



.marg-bottm {
    margin-bottom: 40px;
}

/* Containers */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
}

.nav-bar-links-container {
    max-width: 900px;
    margin: 0 auto;
}


/* Top bar */
.top-bar {
    background-color: #f5f5f5;
    position: sticky;
    z-index: 3;
}

.top-bar-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    background-color: #f5f5f5;
}

/* bran logo */
.brand-logos ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.brand-logos ul li a img {
    width: 30px;
}

/* Extra Links */
.extra-links ul {
    list-style: none;
    display: flex;
}

.extra-links ul li a {
    padding: 0px 0px 0px 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 12px;
    text-shadow: 0px 0px black;
    transition: 0.2s;
}

.extra-links ul li a:hover {
    color: #777777;
}

.extra-links ul li a:not(.no-borders) {
    border-left: 1px solid black;
}

.extra-links ul li a:not(.no-paddings) {
    padding-right: 10px;
}

/* Header */
header {
    background-color: white;
    position: sticky;
    top: -1px;
    z-index: 3;
    box-shadow: 0 2px 7px 0px lightgray;
    transition: 0.2s;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.main-logo img {
    width: 70px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.hover-link {
    text-decoration: none;
    color: black;
    padding: 7px;
    border: 2px solid transparent;
    transition: height 0.5s;

    &:hover {
        border-bottom: 2px solid black;
    }
}

nav ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 195px;
}

nav ol li a {
    color: black;
    text-decoration: none;
}

nav ol li:first-child {
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

nav ol li:not(nav ol li:first-child) {
    opacity: 0.8;
    border: solid transparent;
}

nav ol li:hover:not(nav ol li:first-child) {
    opacity: 1;
}

.news-features-grid-block {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    padding: 0px 0px 0px 0px;
}

.news-features-block {
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 60px;
    padding: 20px 0px 30px 0px;
    z-index: 9999;
    height: 0;
    overflow: hidden;
    display: none;
}

.nav-block {
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 48px;
    padding: 20px 0px 30px 0px;
    z-index: 9999;
    height: 0;
    overflow: hidden;
    display: none;
}

.men-nav-grid,
.women-nav-grid,
.kids-nav-grid,
.sale-nav-grid,
.jordan-nav-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    padding: 0px 0px 0px 40px;
}

.active-hover {
    height: auto;
    display: initial;
    opacity: 1;
}

/* Shop buttons */
.shop-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box {
    position: relative;
}

.search-expand-box {
    position: absolute;
    right: 0px;
    top: -38px;
    background-color: white;
    height: auto;
    width: 0vw;
    overflow: hidden;
    transition: .4s ease-in;
    padding: 10px 40px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    z-index: 9;
}

.search-expand-box.active-search {
    position: absolute;
    width: 100vw;
    visibility: visible;
    opacity: 1;
    z-index: 90;
}

.search-expand-top-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-expand-bottom-box {
    margin: 20px auto;
}

.search-expand-bottom-box-container {
    min-width: 600px;
    display: flex;
    justify-content: left;
}

.search-expand-bottom-box-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-expand-bottom-box-container ul li:first-child {
    font-size: 15px;
    margin-bottom: 10px;
}

.search-expand-bottom-box-container ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;

    &:hover {
        opacity: 0.6;
    }

}

.search-box,
.expand-search-box {
    position: relative;
}

.search-box input,
.expand-search-box input {
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px 10px 10px 37px;
    background-color: #f5f5f5;

    &:hover {
        background-color: #d8d8d8;
    }

    &::placeholder {
        font-size: 17px;
    }
}

.expand-search-box input {
    width: 650px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cancel-btn {
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    opacity: .6;
}

.bx-search,
.bx-search-2 {
    position: absolute;
    left: 0;
    font-size: 20px;
    color: black;
    padding: 8px;
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
        background-color: #777777;
        color: white;
    }

}

.heart,
.shop {
    font-size: 20px;
    color: black;
    padding: 8px;
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
        background-color: #777777;
        color: white;
    }
}


.icon-menu {
    display: none;
    font-size: 20px;
    color: black;
    padding: 8px;
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
        background-color: #777777;
        color: white;
    }
}

.shop-btns a i:not(.bx-search) {
    font-size: 25px;
}

/* side burger menu */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
}

.side-menu {
    position: absolute;
    z-index: 9999;
    background-color: white;
    top: 0;
    right: 0px;
    min-height: 100%;
    max-width: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    padding: 20px 35px;
    transition: all 0.5s ease-in-out;

}


.side-menu-active {
    visibility: visible;
    opacity: 1;
    max-width: 415px;
    height: 100%;
    overflow: auto;
}


.side-menu-exit-btn {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
    font-size: 20px;
}

.side-menu-exit-icon {
    cursor: pointer;
}

.side-menu ul {
    list-style: none;
}

.side-menu ul li a {
    color: black;
    text-decoration: none;

}

.side-menu-links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-menu-links ul li a {
    font-size: 20px;
    transform: 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.side-menu-brand-logos ul {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.side-menu-brand-logos ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    transform: 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.side-menu-brand-logos ul li a img {
    height: 20px;
}

.side-menu-sign-in {
    margin: 50px 0;
}

.side-menu-sign-in p {
    opacity: 0.7;
}

.side-menu-sign-in-btns ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 0 0;
}

#side-menu-join-btn {
    background-color: black;
    color: white;
    padding: 3px 10px;
    border-radius: 50px;
    transition: 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

#side-menu-sign-btn {
    background-color: white;
    color: black;
    border: solid 1px rgba(0, 0, 0, 0.526);
    padding: 3px 10px;
    border-radius: 50px;
    transition: 0.2s;

    &:hover {
        border: solid black 1px;
    }
}

.side-menu-extra-btns {
    margin: 40px 0 0 0;
}

.side-menu-extra-btns ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-menu-extra-btns ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    transition: 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

/* Main Content */
.sort-bar {
    padding: 30px 15px;
}

.sort-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.totall-count {
    font-size: 23px;
}

.sort-filter-btn ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.sort-filter-btn ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sort-filter-btn ul li img {
    height: 15px;
}

.sort-filter-btn ul li i {
    font-size: 25px;
}

.new-featured-shoes-main-block {
    padding: 0px 15px;
}

.new-featured-shoes-main-wrapper {
    display: grid;
    grid-template-columns: 0% 100%;
    gap: 0px;
    padding: 0px 15px 0 0;
    transition: 0.5s;
}

.new-featured-shoes-filter-wrapper {
    height: 70vh;
    padding: 0 30px 0 0;
    overflow-y: hidden;
    overflow-x: hidden;
    visibility: hidden;
}

.new-featured-shoes-filter-wrapper::-webkit-scrollbar {
    width: 8px;
}

.new-featured-shoes-filter-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.new-featured-shoes-filter-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}

.new-featured-shoes-filter-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}   

.new-featured-shoes-filter-wrapper.active-filter {
    width: 100vw;
}

.new-featured-shoes-filter-wrapper ul {
    list-style: none;
}

.filter-nav-links {
    margin-bottom: 40px;
}

.filter-nav-links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.626);
    letter-spacing: 0.5px;
    transition: 0.2s;

    &:hover {
        opacity: .8;
    }
}

.filter-nav-expand-blocks {
    border-bottom: 1px solid rgba(177, 177, 177, 0.763);
    margin-bottom: 20px;
    height: 40px;
    overflow: hidden;
    transition: 0.3s;
}

.filter-nav-expand-blocks ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.filter-nav-expand-blocks ul li:first-child {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-nav-expand-blocks ul li:not(.filter-nav-expand-blocks ul li:first-child) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-nav-expand-blocks ul li input {
    height: 20px;
    width: 20px;
    border: thin 0.2px #888;
}

.filter-nav-expand-blocks ul li:first-child i {
    font-size: 25px;
}

.new-featured-shoes-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 15px;
}

.shoe-box {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.shoe-box img {
    width: 100%;
    height: 100%;
}

.shoes-block-txt-1 {
    font-size: 14px;
    color: #b73d00;
    font-weight: 600;
}

.shoes-block-txt-2 {
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0 0 1px black;
}

.shoes-block-txt-3,
.shoes-block-txt-4 {
    opacity: 0.7;
}

.shoes-block-txt-5 {
    font-size: 15px;
    font-weight: 600;
}

/* footer */
footer {
    padding-top: 50px;
}

.footer-wrapper {
    border-top: solid 3px #c1c1c1;
    padding: 20px 0 70px 0;
}

.footer-top-bar {
    display: flex;
    justify-content: space-between;
}

.footer-top-bar-column {
    width: max-content;
    padding: 0px 10px;
}

.footer-top-bar-column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-top-bar-column ul li:first-child {
    margin-bottom: 10px;
}

.footer-top-bar-column ul li a i {
    font-size: 20px;
}

.footer-top-bar-column ul li a {
    color: black;
    text-decoration: none;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
        opacity: 1;
    }
}

.footer-bottom-bar {
    margin: 30px 5px 0 5px;
}

.footer-bottom-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

}

.footer-bottom-bar ul li:first-child {
    cursor: default;
}

.footer-bottom-bar ul li {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.5;
    transition: 0.2s;

    &:hover {
        opacity: 1;
    }
}

.footer-bottom-bar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* footer small size scree */
.footer-small-screen {
    display: none;
}

.footer-extra-links {
    padding: 35px 20px;
    height: 60px;
    overflow: hidden;
    border-bottom: 1px solid #c1c1c1;
    transition: .5s;
}

.footer-extra-links .active-link {
    height: 190px;
}

.footer-extra-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.footer-extra-links ul li:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-extra-links ul li:first-child i {
    font-size: 30px;
    font-weight: 100;
}

.footer-extra-links ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.footer-extra-links ul li span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bx-chevron-up {
    transition: 0.2s;
}

.footer-extra-link-name .bx-globe:last-child {
    font-size: 20px;

}

.footer-extra-links ul li a {
    color: black;
    opacity: 0.5;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
    display: flex;
    align-items: center;

    &:hover {
        opacity: 1;
    }
}

/* small screen footer bottom bar */
.small-screen-footer-bottom-bar {
    padding: 30px 20px 0px 20px;
    display: none;
}

.small-screen-footer-bottom-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-screen-footer-bottom-bar ul li a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
    font-family: 600;
    transition: 0.2s;

    &:hover {
        opacity: 1;
    }
}