@media screen and (max-width: 1460px) {
    .landing-video-container video {
        width: 100%;
        height: auto;
    }

    .shop-by-classic-title {
        padding: 60px 0px 20px 20px;
    }

    .nike-membership-title {
        padding: 60px 0px 20px 20px;
    }

    .nike-membership-banners {
        padding: 0 0 0 20px;
        overflow: auto;
        width: auto;
    }

    .nike-membership-banners::-webkit-scrollbar {
        height: 10px;
    }

    .nike-membership-banners::-webkit-scrollbar {
        width: 10px;
    }

    .nike-membership-banners::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .nike-membership-banners::-webkit-scrollbar-thumb {
        background: #888;
    }

    .nike-membership-banners::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .membership-img-block {
        width: 600px;
    }
}

@media screen and (max-width: 1100px) {
    .search-box input {
        display: none;
    }

    .bx-search {
        position: static;
        font-size: 25px;
    }

    .bx-search-2 {
        position: absolute;
        font-size: 22.5px;
    }

    .shop-btns {
        display: flex;
        align-items: center;
    }


}

@media screen and (max-width: 960px) {
    .news-features-grid-block {
        padding: 0px 0px 0px 20px;
    }

    .jordan-nav-grid {
        grid-template-columns: auto auto auto auto;
    }

    .nike-membership-wrapper {
        overflow: auto;
    }

    .footer-large-screen {
        display: none;
    }

    .footer-small-screen {
        display: initial;
        margin-bottom: 500px;
    }

    .small-screen-footer-bottom-bar {
        display: initial;
    }

    .small-screen-footer-bottom-bar ul {
        padding: 20px;
    }
}

@media screen and (max-width: 890px) {
    .top-bar {
        display: none;
    }

    .main-nav ul {
        display: none;
    }

    .search-expand-box.active-search {
        width: 100vw;
        top: 0px;
    }

    .expand-search-box input {
        width: 300px;
    }

    .search-expand-bottom-box-container {
        min-width: 250px;
    }

    .menu-icon {
        display: block;
        border: none;
    }

    .icon-menu {
        display: block;
        border-radius: none;
    }

    .shop-btns a {
        text-decoration: none;
    }
}



@media screen and (max-width: 650px) {
    .landscape-banner-text-heading {
        font-size: 30px;
        font-weight: 600;
    }

    .landscape-banner-text-paragraph {
        font-size: 15px;
    }

    .nike-ads-group-container {
        grid-template-columns: repeat(1, 100%);
    }

    .new-this-week-wrapper {
        padding: 150px 0px 40px 0px;
    }
}

@media screen and (max-width: 550px) {
    .expand-search-box input {
        width: 150px;
    }
    
    .search-expand-top-box {
        justify-content: space-between;
    }

    .search-expand-bottom-box-container {
        min-width: 100px;
    }

    .nike-membership-banners {
        padding: 0;
    }

    .categories-large-screen {
        display: none;
    }
    
    .categories-small-screen {
        display: initial;
    }
}

@media screen and (max-width: 340px) {
    .header-wrapper {
        justify-content: space-evenly;
        padding: 10px 0;
    }

    .search-logo {
        display: none;
    }
}
