@media screen and (max-width: 1100px) {
    .search-box input {
        display: none;
    }

    .bx-search {
        position: static;
        font-size: 25px;
    }

    .bx-search-2 {
        position: absolute;
        font-size: 22.5px;
    }

    .shop-btns {
        display: flex;
        align-items: center;
    }


}

@media screen and (max-width: 960px) {
    .news-features-grid-block {
        padding: 0px 0px 0px 20px;
    }

    .jordan-nav-grid {
        grid-template-columns: auto auto auto auto;
    }

    .footer-large-screen {
        display: none;
    }

    .footer-small-screen {
        display: initial;
        margin-bottom: 500px;
    }

    .small-screen-footer-bottom-bar {
        display: initial;
    }

    .small-screen-footer-bottom-bar ul {
        padding: 20px;
    }
}

@media screen and (max-width: 890px) {
    .top-bar {
        display: none;
    }

    .main-nav ul {
        display: none;
    }

    .search-expand-box.active-search {
        width: 100vw;
        top: 0px;
    }

    .expand-search-box input {
        width: 300px;
    }

    .search-expand-bottom-box-container {
        min-width: 250px;
    }

    .menu-icon {
        display: block;
        border: none;
    }

    .icon-menu {
        display: block;
        border-radius: none;
    }

    .shop-btns a {
        text-decoration: none;
    }
}



@media screen and (max-width: 550px) {
    .expand-search-box input {
        width: 150px;
    }
    
    .search-expand-top-box {
        justify-content: space-between;
    }

    .search-expand-bottom-box-container {
        min-width: 100px;
    }

    .categories-large-screen {
        display: none;
    }
    
    .categories-small-screen {
        display: initial;
    }
}

@media screen and (max-width: 340px) {
    .header-wrapper {
        justify-content: space-evenly;
        padding: 10px 0;
    }

    .search-logo {
        display: none;
    }
}
